<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/filter" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="page-title">
                <h1>House Finder v1.0</h1>
            </div>

            <div class="text-form">

                <div class="instructions">
                    Select the city you're looking to sublet
                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="input-token">
                    <select class="login-field" name="city">
                        <option class="login-field" value="Toronto" name="city" selected>Toronto</option>
                    </select>
                </div>

                <input type="submit" value="Continue" class="btn btn-primary btn-large btn-block" >
                <br>
            </div>
        </div>
    </div>
</form>